[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moderngl = "*"
numpy = "*"
pillow = "*"
numpy-stl = "*"
pyglm = "*"
pyflakes = "*"
memory-profiler = "*"

[dev-packages]
ipython = "*"
memory-profiler = "*"
python-language-server = "*"

[requires]
python_version = "3.10"
