[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moderngl = "*"
numpy = "*"
pillow = "*"
numpy-stl = "*"
pyglm = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
